html {
  background-color: #1c253b;
  color: white;
}

h1 {
  font-size: 60px;
}

a {
  color: lightblue;
}

body {
  font-family: "Red Hat Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  margin: 100px;
}

.numerical {
  font-family: "Chivo Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.numerical-normal {
  font-family: "Chivo Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.large-icon {
  font-size: 125px;
  margin-block: 0px;
}

.main-num {
  font-size: 100px;
  margin-block: 0px;
}

.sub-num {
  font-size: 25px;
}

.main-text {
  font-size: 20px;
}

i {
  margin-right: 5px;
}

.temp-small {
  font-size: 30px;
  position: relative;
  left: -40px;
  color: #ffffff80;
}

.temp-small-2 {
  font-size: 23px;
  position: relative;
  left: -30px;
  color: #ffffff80;
}
.temp-small-3 {
  font-size: 14px;
  position: relative;
  left: -16px;
  color: #ffffff80;
}

#overview-card {
  display: flex;
  align-items: center;
  background-color: #293657;
  border: solid #293657 25px;
  border-radius: 25px;
}

#overview-1 {
  margin-right: 5px;
}
#overview-2 {
  margin-left: 5px;
}

.snowfall {
  color: #ff3300;
}

.snowfall-num {
  font-size: 32px;
}

.snowfall-unit {
  font-size: 20px;
}

#radio-btn-div {
  display: flex;
  justify-content: space-evenly;
}

#overview-2 p {
  margin-block: 10px;
}

#overview-2 p.city-state {
  font-weight: 700;
  font-size: 25px;
  margin-bottom: 40px;
}

#main-sections {
  display: flex;
  justify-content: space-around;
}

#overview-div {
  margin: 50px;
  white-space: nowrap;
}

#overview-sub-div {
  white-space: wrap;
  padding: 5px;
  background-color: #29365780;
  width: max-content;
  max-width: 500px;
  margin-top: 10px;
  border-radius: 20px;
}

#overview-sub-div p {
  margin: 10px;
}

#radar-div {
  margin: 50px;
}

#radar-div img {
  background-color: #293657;
  border: solid #293657 25px;
  border-radius: 25px;
}

#radar-buttons button {
  background-color: #41568b;
  color: white;
  border: none;
  padding: 5px;
  border-radius: 5px;
  font-family: "Red Hat Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  padding: 5px 10px;
  background-color: #41568b;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-inline: 3px;
}
#radar-buttons button:hover,
#radar-buttons button:focus {
  cursor: pointer;
}

#radar-buttons button:disabled {
  background-color: #293657;
}

.alert-headline {
  background-color: #8b0f0f;
  padding: 5px;
  border-radius: 10px;
  user-select: none;
  margin-bottom: 0px;
}

.alert-headline:hover,
.alert-headline:focus {
  cursor: pointer;
}

.alert-description {
  background-color: #5c0a0a;
  font-size: 14px;
  margin-top: 0px;
  padding: 10px;
  border-radius: 0 0 10px 10px;
}

#zip-form {
  display: flex;
  flex-direction: column;
  width: max-content;
  font-weight: 700;
  background-color: #293657;
  border-radius: 10px;
  position: absolute;
  right: 100px;
  top: 15px;
}

#zip-form button {
  background-color: #41568b;
  color: white;
  border: none;
  padding: 5px;
  border-radius: 5px;
  font-family: "Red Hat Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  padding: 5px 10px;
  background-color: #41568b;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}
#zip-form button:hover,
#zip-form button:focus {
  cursor: pointer;
}

#zip-form label {
  margin-bottom: 10px;
  font-weight: bold;
}

#zip-form input#zipInput {
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100px;
}

#form-1 {
  padding: 5px;
}

#temp-unit {
  text-align: center;
}

#measure-unit {
  text-align: center;
}

#hourly-graph {
  background-color: #293657;
  border: solid #293657 25px;
  border-radius: 25px;
  max-width: 1000px;
  margin-inline: auto;
}

#last-section {
  margin-top: 100px;
}

#week-div {
  display: flex;
  justify-content: space-around;
  background-color: #293657;
  border-radius: 25px;
  padding: 10px;
  margin: 0px 50px 50px 50px;
}

.week-icon {
  font-size: 75px;
  margin: 30px 10px 10px 10px;
  text-align: center;
}
.day-temp {
  font-size: 75px;
}
.night-temp {
  font-size: 40px;
  color: #ffffff80;
}
.week-name {
  font-size: 25px;
  font-weight: 700;
}

.error-div {
  margin: 20px;
}

.error-div i {
  color: #8b0f0f;
}

input[type="radio"] {
  appearance: none;
  -webkit-appearance: none; /* For Safari */
  width: 15px;
  height: 15px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  display: inline-block;
  transition: background-color 0.5s ease, border-color 0.5s ease;
}

input[type="radio"]:checked {
  background-color: #ffffff;
}

label:hover {
  cursor: pointer;
}

.loading {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loading i {
  font-size: 100px;
}

.loading span,
.loading-2 span {
  font-size: 35px;
  width: max-content;
}

.loading-2 span {
  position: fixed;
  margin-top: 100px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.city-card {
  display: flex;
  align-items: center;
  background-color: #293657;
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
  transition: 0.3s;
}

.city-card:hover,
.city-card:focus {
  cursor: pointer;
  background-color: #33446d;
  transition: 0.3s;
}

.city-sec-1 {
  margin-right: 0px;
}
.city-sec-2 {
  margin-left: 0px;
}

.city-sec-2 p {
  margin-block: 10px;
}

.city-sec-2 p.city-state,
.city-sec-2 p.sub-num {
  font-weight: 700;
  font-size: 16px;
  margin-block: 2px;
}

#cities-div {
  white-space: nowrap;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 5px;
  margin-block: 15px;
}

.city-icon {
  font-size: 25px;
  margin-block: 0px;
}

.city-num {
  font-size: 20px;
  margin-block: 0px;
}

.city-temp-small {
  font-size: 8px;
  position: relative;
  left: -8px;
  color: #ffffff80;
}

@media only screen and (max-width: 768px) {
  body {
    margin: 25px;
    margin-top: 100px;
  }

  h1 {
    font-size: 40px;
  }

  .large-icon {
    font-size: 90px;
    margin-block: 0px;
  }

  .main-num {
    font-size: 75px;
    margin-block: 0px;
  }

  .sub-num {
    font-size: 20px;
  }

  #overview-2 p.city-state {
    font-size: 20px;
  }

  .city-sec-2 p.city-state {
    font-size: 20px;
  }

  .temp-small {
    font-size: 23px;
    left: -30px;
  }

  #main-sections {
    display: block;
  }

  #secondary-sections {
    width: calc(100% - 25px);
  }

  #week-div {
    display: block;
    margin-inline: 0px;
    width: 100%;
  }
  #week-div p {
    text-align: center;
  }

  #radar-div {
    margin-inline: 0px;
    width: calc(100% - 50px);
  }

  #radar-div img {
    width: 100%;
  }

  #overview-div {
    width: 100%;
    margin: 0px;
  }

  #overview-card {
    width: calc(100% - 50px);
  }

  #cities-div {
    width: 100%;
  }

  .city-card {
    width: calc(100% - 50px);
  }

  #hourly-graph {
    margin-inline: 0px;
    width: calc(100% - 25px);
  }

  #zip-form {
    right: 25px;
  }
}
